[Unit]
Description=Fastify Hello World
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/fastify-hello-world/src/server.js
Restart=on-failure
User=node
Group=node

[Install]
WantedBy=multi-user.target
